<!DOCTYPE html>
<html lang="en">
{% load static %}
{% for rs in header %}
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="{%  static '' %}assets/images/favicon/favicon.png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.css">
    <link rel="stylesheet" href="{%  static '' %}assets/css/gallery.css">
    <link href="{%  static '' %}assets/css/style.css" rel="stylesheet">
    <link href="{%  static '' %}assets/css/theme.css" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5N73BDGZ');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body class="lodha-yellow">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N73BDGZ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- xxxxxxxxxxxx Navigator xxxxxxxxxxxx -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="head_logo"><img src="{{rs.logo.url}}" style="height: 58px; padding: 3px;" alt="" class="img-fluid d-block mx-auto" width="160"></a>
            <!--this content fetch from JS-->
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"> <span class="navbar-toggler-icon"></span> </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item"> <a class="nav-link" href="#home">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#highlights"> Highlights</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#pricing"> Pricing</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#floor-plan"> Floor Plan</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#amenities">Amenities</a> </li>
                    <li class="nav-item"> <a class="nav-link ml-3" href="#gallery">Gallery</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#connectivity">Location</a> </li>
                    <li class="nav-item on-rera">
                        <a class="nav-link ps4u-logo">
    							<img src="{{rs.logo_2.url}}" alt="" class="img-fluid d-block mx-auto" width="160">
    						</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- xxxxxxxxxxxx Navigator End xxxxxxxxxxxx -->


    
    {% block header %} {% endblock %}
    {% block body %}{% endblock body %}



                
                <!-- xxxxxxxxxxxx Footer xxxxxxxxxxxx -->
                <footer class="sec3">
                    <div class="container on-rera">
                        <div class="foot_logo mb-3"></div>
                        <!--this content fetch from JS-->
                        <div id="foot_rera_qr" class="pt-2"></div>
                        <!--this content fetch from JS-->
                        <div class="elementor-widget-container text-center">
                            <p>
                                This project is RERA registered.&nbsp; <br><a style="text-decoration:none;color:#000;font-size:12px;">
									<span id="Agent_Rera"></span> 
									<!--this content fetch from JS--><br><span id="Project_Rera"></span> 
									<!--this content fetch from JS-->
								</a>
                            </p>
                        </div>
                        <p id="disclaimer"> The content presented on this website is solely for informational purposes and does not constitute a service offer. Prices mentioned here are subject to change without prior notification, and the availability of the listed properties
                            is not assured. Images showcased are illustrative and may not precisely represent the actual properties. Kindly be advised that this website operates as an authorized marketing partner (PropSolutions4U Pvt. Ltd). For necessary
                            processing, we may share data with Real Estate Regulatory Authority (RERA) registered brokers/companies. Additionally, updates and information may be sent to the registered mobile number or email ID. All rights reserved. This
                            website's content, design, and data are protected by copyright and other intellectual property rights. Unauthorized use or reproduction of the content may be subject to legal repercussions. For precise and current information
                            on services, pricing, availability, or any other details, we recommend you contact us directly via the provided contact information on this website. We appreciate your visit. </p>
                        <p class="text-center mb-0 pb-2">
                            © <a href="Privacy-Policy.html" target="_blank" style="color:#878787;text-align:center;text-decoration:none;"> Privacy Policy</a> | <a href="terms-conditions.html" target="_blank" style="color:#878787;text-align:center;text-decoration:none;">Terms &amp; Conditions</a><br></p>
                    </div>
                    <div class="container non-rera">
                        <div class="foot_logo mb-3"></div>
                        <p id="disclaimer">
                            The content on this website is for informational purposes only and is not intended as an offer for services or sale. The project mentioned has not yet received RERA clearance but is currently in the process of registration with the State Name Real Estate
                            Regulatory Authority. The project name used here is for branding and interest-generation purposes only and is not intended as the final project name. No sales or purchases are being facilitated for this pending project.
                            <span
                                id="additional-content" class="moredisclaimerText" data-hit="more-overview"> This site is managed by Prop Solutions4U Pvt. Ltd., a RERA authorized real estate agent. The images displayed are for illustrative purposes and may not represent the actual properties. Additionally, your data may be shared
                                with RERA-registered Developers to gauge interest and for polling purposes. Updates and information may be sent to the contact details provided by you based on your expressed interest. Copyright and other intellectual property
                                laws protect the content, design, and information on this website. Unauthorized use or reproduction of the content may result in legal action. Thank you for your visit. RERA - Coming Soon </span>
                                <span data-target="-overview" class="moredisclaimerBtn">Read More <i class="fa fa-chevron-down"></i></span>
                        </p>
                        <p class="text-center mb-0 pb-2">
                            © <a href="Privacy-Policy.html" target="_blank" style="color:#878787;text-align:center;text-decoration:none;"> Privacy Policy</a> | <a href="terms-conditions.html" target="_blank" style="color:#878787;text-align:center;text-decoration:none;">Terms &amp; Conditions</a><br></p>
                    </div>
                </footer>
                <!-- xxxxxxxxxxxx Footer end xxxxxxxxxxxx -->
                <section id="footer-links">
                    <div class="container text-center">
                        <p>All Rights Reserved. © 2025 <a href="https://cloudrohu.com/" target="_blank" class="on-rera">Cloud Rohu</a></p>
                    </div>
                </section>
                <section>
                    <div class="footer-enquiryBtn d-flex d-sm-none">
                        <a class="monCall data-id-btn" id="mobPhone" href="tel:+91{{rs.cuntact_no}}"><em class="fa fa-phone"></em> Call</a>
                        <a id="discovery_mobile" target="_blank" class="monCall whatsappBtn data-id-btn on-rera" href="https://api.whatsapp.com/send?phone=91{{rs.cuntact_no}}&text=Hey There, I would like to explore further details About The House Of Abhinandan Lodha At Neral, Raigad, Maharashtra. Please Share Details."><i class="fa fa-brands fa-whatsapp"></i> WhatsApp</a>
                        <a class="monCall data-id-btn on-rera" id="mobPhone" data-bs-target="#enquire-modal" data-bs-toggle="modal" data-bs-whatever="Enquire Now" data-id="Enquire Now">Enquire Now</a> <a class="monCall data-id-btn non-rera" id="mobPhone"
                            data-bs-target="#enquire-modal" data-bs-toggle="modal" data-bs-whatever="Enquire Now" data-id="Enquire Now">Express Your Interest</a>
                    </div>
                </section>
            </div>
        </main>
        <!--end left-section-->
        <section class="desktop-summary">
            <div class="og-block d-flex justify-content-between">
                <button id="right-panel-schedule-site-visit-button" class="btn data-id-btn" data-bs-target="#enquire-modal" data-bs-toggle="modal" data-bs-whatever="Enquire Now" data-id="Site Visit">Schedule Site Visit</button>
                <button class="btn"><em class="fa fa-phone"></em><a href="tel:+91{{rs.cuntact_no}}" style="color:#ffff;text-decoration:none;"> +91{{rs.cuntact_no}}</a> </button>
            </div>
            <div class="form-section p-3">
                <h2 class="pb-2">Pre-Register here for Best Offers</h2>
                <form class="text-center" name="Pre-Register-sidemodal" action="/submit-form/" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Name here..." name="name" required>
                        <span class="error">Name field is required</span>
                    </div>
                    <div class="form-group mb-3">
                        <input type="number" id="mobile" class="form-control" required placeholder="Phone Number" name="mobile" oninput="limitDigits(this, 10)">
                        <span class="error">Mobile field is required</span>
                    </div>
                            <div class="form-group mb-3">
                        <input type="email" id="email" class="form-control" required placeholder="Email" name="email">
                        <span class="error">Email field is required</span>
                    </div>
                    <div>
                        <input type="hidden" name="form_name" id="form_name2" class="form-control form_name" value="Pre-Register">
                        <input type="hidden" id="website_url2" class="website_url" name="website_url">
                    </div>
                    <div class="form-group acceptance mb-3" style="font-size: 10px;">
                        <label class="form-check-label text-start">
							<input type="checkbox" checked class="form-check-input" required>
							<span class="text on-rera">I Consent to The Processing of Provided Data According To <a href="Privacy-Policy.html" style="color:#007bff"> Privacy Policy | </a> <a href="terms-conditions.html" style="color:#007bff;"> Terms &amp; Conditions</a>, I Authorize Prop Solutions 4 U Pvt. Ltd. and its representatives to Call, SMS, Email or WhatsApp Me About Its Products and Offers. This Consent Overrides Any Registration For DNC/NDNC. </span>
							<span class="text non-rera">Please be informed that this website is not intended to facilitate any sales transactions. I understand and acknowledge that the project I am interested in hasn't yet secured RERA clearance. The primary purpose of this website is to generate interest and gather information. By providing my data, I consent to its use in accordance with the <a href="Privacy-Policy.html" style="color:#007bff"> Privacy Policy | </a> <a href="terms-conditions.html" style="color:#007bff;"> Terms &amp; Conditions</a></span>
						</label>
                    </div>
                    <button id="right-panel-preregister-button" class="btn preRegisterBtn data-id-btn on-rera" data-id="Pre-Register" onclick="submitForm(event, 'Pre-Register-sidemodal')">Pre-Register Now</button>

                </form>
                <h6 class="enqModal" style="margin: 35px auto; font-size: 12px; padding: 16px 0; ">
                    <div class="row text-center justify-content-center icon-sec m-0">
                        <div class="col-4"> <img src="{%  static '' %}assets/images/icons/call.webp" width="32" class="img-fluid data-id-btn">
                            <p class="mb-0">Instant Call Back</p>
                        </div>
                        <div class="col-4"> <img src="{%  static '' %}assets/images/icons/car.webp" width="32" class="img-fluid data-id-btn">
                            <p class="mb-0">Free Site Visit</p>
                        </div>
                        <div class="col-4"> <img src="{%  static '' %}assets/images/icons/pay.webp" width="32" class="img-fluid" alt="Best Price">
                            <p class="mb-0">Best Price</p>
                        </div>
                    </div>
                </h6>
            </div>
            <!--end form-section-->
            <div class="call-back-section text-center pt-2 pb-2 on-rera">
                <button id="right-panel-request-callback-button" class="btn callBackBtn data-id-btn" data-bs-target="#enquire-modal" data-bs-toggle="modal" data-bs-whatever="Enquire Now" data-id="Call Back">Request Call Back</button>
            </div>
            <div class="call-back-section text-center pt-2 pb-2 non-rera">
                <button id="right-panel-request-callback-button" class="btn callBackBtn data-id-btn" data-bs-target="#enquire-modal" data-bs-toggle="modal" data-bs-whatever="Enquire Now" data-id="Call Back">Express Your Interest</button>
            </div>
            <!--end call-back-section-->
        </section>
    </div>
    <!--end main container-->
    <div class="modal enquire-modal" data-bs-dismissable="modal" id="enquire-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Enquire Now</h4>
                    <button type="button" class="btn btn-md close modal-close" data-bs-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                <div class="modal-body">
                    <a class="modal-logo text-center d-block mb-4" href="#" id="modal-logo"></a>
                    <!--this content fetch from JS-->
                <form id="main-popup" name="modal-form" method="post" action="/submit-form/">
                       {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 forms-input-fields">
                                <i class="fa-solid fa-user"></i>
                                <input type="text" name="name" class="form-control" autofocus required placeholder="Name*" required> 
                                <span name="nameError" class="error">Name field is required</span>
                            </div>
                            <div class="col-lg-6 col-sm-12 forms-input-fields">
                                <i class="fa-solid fa-phone"></i>
                                <input type="number" name="mobile" id="mobile" class="form-control" required placeholder="Mobile*" required oninput="limitDigits(this, 10)">
                                <span name="nameError" class="error">Mobile field is required</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 forms-input-fields">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" name="form_name" id="form_name" class="form-control form_name" value="Auto Modal">
                            <input type="hidden" id="website_url" class="website_url" name="website_url">
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 forms-input-fields">
                                <div class="form-group acceptance">
                                    <label class="form-check-label">
										<input type="checkbox" checked class="form-check-input">
										<span class="text on-rera-">I Consent to The Processing of Provided Data According To <a href="Privacy-Policy.html" style="color:#007bff"> Privacy Policy | </a> <a href="terms-conditions.html" style="color:#007bff;"> Terms &amp; Conditions</a>, I Authorize Prop Solutions 4 U Pvt. Ltd. and its representatives to Call, SMS, Email or WhatsApp Me About Its Products and Offers. This Consent Overrides Any Registration For DNC/NDNC. </span>
										<span class="text non-rera">Please be informed that this website is not intended to facilitate any sales transactions. I understand and acknowledge that the project I am interested in hasn't yet secured RERA clearance. The primary purpose of this website is to generate interest and gather information. By providing my data, I consent to its use in accordance with the <a href="Privacy-Policy.html" style="color:#007bff"> Privacy Policy | </a> <a href="terms-conditions.html" style="color:#007bff;"> Terms &amp; Conditions</a></span>
									</label>
                                </div>
                                <button type="submit" name="Submit" class="btn mx-auto d-block form-btn1 on-rera" onclick="submitForm(event, 'modal-form')">Enquire Now</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- gallery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js"></script>
    <script src="{%  static '' %}assets/js/custom.js"></script>
    <script src="{%  static '' %}assets/js/meta_name.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.js-gallery').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                arrows: true,
                fade: false,
                autoplay: true,
                autoplaySpeed: 2000,
                adaptiveHeight: true,
                prevArrow: '<span class="gallery-arrow mod-prev"><i class="fas fa-arrow-left"></i></span>',
                nextArrow: '<span class="gallery-arrow mod-next"><i class="fas fa-arrow-right"></i></span>',
                responsive: [{
                        breakpoint: 1024,
                        settings: {
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 4
                        }
                    },
                    {
                        breakpoint: 980,
                        settings: {
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            centerMode: false,
                            centerPadding: '0px',
                            slidesToShow: 1
                        }
                    }
                ]
            });
            $('.js-gallery').slickLightbox({
                src: 'src',
                itemSelector: '.js-gallery-popup img',
                background: 'rgba(0, 0, 0, .7)'
            });

            $('#slick1').slick({
                rows: 2,
                dots: false,
                arrows: true,
                prevArrow: '<span class="amenities-arrow mod-prev"><i class="fas fa-arrow-left"></i></span>',
                nextArrow: '<span class="amenities-arrow mod-next"><i class="fas fa-arrow-right"></i></span>',
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 3,
                responsive: [{
                        breakpoint: 1024,
                        settings: {
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 4
                        }
                    },
                    {
                        breakpoint: 980,
                        settings: {
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        row: 1,
                        settings: {
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 1
                        }
                    }
                ]

            });

        });
        $(document).ready(function() {
    $(".moreBtn").click(function() {
        var button = $(this);
        var target = button.data('target');
        var isReadMore = button.html().includes('Read more');
        var newHtml = isReadMore ? 'Read less <i class="fa fa-chevron-up"></i>' : 'Read more <i class="fa fa-chevron-down"></i>';
        button.html(newHtml);
        $(".moreText[data-hit='more" + target + "']").slideToggle(500);
    });
});

    </script>

<script>
  function limitDigits(element, maxDigits) {
    if (element.value.length > maxDigits) {
      element.value = element.value.slice(0, maxDigits);
    }
  }
</script>
</body>

</html>

{% endfor %}
